@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
 :root {
 --primary-color: #52489c;
 --secondary-color: #59c3c3;
 --accent-color: #f45b69;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: Mooli, san-serif;
 }
img {
	max-width: 100%;
    object-fit: cover;
    border: solid 8px white;
}
body
{
    font-size: 14px;
    font-family: var(--secondary-font);
    background-color: var(--text-light);
    display: grid;
    grid-template-columns: 1;
    place-items: center;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
header{
    width: 100%;
    color: var(--text-light);
    background-color: var(--primary-color);
    text-align: center;
}
main{
    background-color: var(--text-light);
    color: var(--text-dark);
}
button {
    background: none;
    border: none;
    color: var(--text-light);
    font-family: var(--secondary-font);
    font-size: 18px;
    text-decoration-line: underline;
    display: inline;
    margin: 0 auto;
}
#menu{
    font-size: 24px;
    display: block;
}
.hide {
	display: none;
}
.viewer{
    position: fixed;
    top:0;left:0;bottom:0;right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-rows: 50px 1fr;
    place-items: center;
    z-index: 10;
    height: 100%;
    width: 100%;
}
.viewer img{
    grid-row: 2;
    max-height: 100%;
    z-index: 10;
}
.close-viewer{
    grid-row: 1;
    color: red;
    font-size: 20px;
    justify-self: end;
}
@media screen and (min-width: 700px)    {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button{
        display: block;
    }
}
@media screen and (min-width: 1000px)    {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu{
        display: none;
    }
    button{
        display: block;
    }
    #viewer{
        top:5%;left:5%;bottom:5%;right:5%;
        width: 90%;
        height: 90%;
    }
    #viewer img{
        padding: 10%;
    }
}