*
{
line-height: 2;
font-size: 20px;
font-family: 'Times New Roman', Times, serif;
}
h1
{
    font-size: 35px;
}
h2
{
    color: #006EB6;
}
header
{
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 30px;
}
body
{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 600 px;
}
img
{
    height: auto;
    width: 25%;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.preface
{
    font-style: italic;
}
.dark
{
    background-color: #333;
    color: white;
}
.dark h2{
    color: #A0D4ED;
}